{% extends 'base.html' %}


{% block 'titulo' %} Cadastro {% endblock %}


{% block 'conteudo' %}

<!-- Alertas via bootstrap -->
<div class="container">
    <br>
    {% if status == '0'%}
        <div class="alert alert-success" role="alert">
            Cadastro realizado com sucesso!
        </div>
    {% endif %}

    {% if status == '1'%}
        <div class="alert alert-danger" role="alert">
            Verifique para não deixar nenhum campo em branco ou só com espaços!
        </div>
    {% endif %}

    {% if status == '2'%}
        <div class="alert alert-danger" role="alert">
            Quantidade números no CPF insuficiente!
        </div>
    {% endif %}

    {% if status == '3'%}
        <div class="alert alert-danger" role="alert">
            Usuário já cadastrado!
        </div>
    {% endif %}

    {% if status == '4'%}
        <div class="alert alert-danger" role="alert">
            Erro interno do sistema!
        </div>
    {% endif %}

    <div class="row">

        <div class="col-md-3">

        </div>

        <div class="col-md">
            <h1>Cadastre-se</h1>
            <hr>

            <form method="POST" action="{% url 'valida_cadastro' %}">{% csrf_token %}
                <label>Nome</label>
                <input name="nome" class = "form-control" type="text" placeholder="Digite seu nome">
                <br>
                <label>CPF</label>
                <input name="cpf" class = "form-control" type="text" placeholder="___.___.___-__">
                <br>
                <label>Tipo Acesso</label>
                <input name="tipo_acesso" class = "form-control" type="text" placeholder="Digite seu tipo de acesso (Colaborador, Lider, Administrador)">
                <br>
                <label>Equipe</label>
                <input name="equipe" class = "form-control" type="text" placeholder="Digite sua equipe (Ômega, Delta, Gama, Beta)">
                <br>
                <input class = "btn btn-info btn-md" type="submit" value="Enviar">
                <a href="{% url 'login' %}" class = "btn btn-warning btn-md"> Login </a>


            </form>
        </div>

        <div class="col-md-3">

        </div>

    </div>

</div>


{% endblock %}